.container {
  width: 420px auto;
  background: white;
  padding: 70px;
  border-radius: 12px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  margin: 20px auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
  font-size: 45px;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.2s;
}

input:focus {
  border-color: #8c3fff;
}

button {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  background-color: #8c3fff;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #7230d3;
  transform: scale(1.05);
}

ul {
  list-style: none;
  margin-top: 10px;
}

li {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: #ff4d4d;
  margin-left: 10px;
}

li button:hover {
  background: #d93636;
}